#home-banner {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .swiper-slide,
  .swiper {
    height: inherit;
  }
  .banner-image {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .banner-wrapper {
    bottom: 50px;
    @include flex(space-evenly, center, 20px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 2;
    a {
      display: block;
      flex: 1;
      max-width: 300px;
      height: 220px;
    }

    .banner-item {
      backdrop-filter: blur(8px);
      padding: 50px 30px 0;
      position: relative;
      border: 1px solid transparent;
      transition: all ease 0.3s;
      background-color: rgba($color: #000000, $alpha: 0.2);
      height: 100%;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
      .image {
        width: 70px;
        margin: 0 auto 30px;

        img {
          transition: all ease 0.2s;
          filter: invert(1);
        }
      }
      .title {
        color: $white;
        font-size: 18px;
        transition: all ease 0.2s;
        text-align: center;
      }
    }
  }
}

.about {
  background: url(../images/about-bg.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-top: 150px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 0;
  }

  .heading-block {
    padding-bottom: 20px;
    border-bottom: 1px solid $white;
  }
  .about-content {
    position: relative;
    z-index: 2;
    max-width: 50%;
    .sub-title {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: $fw-b;
      text-transform: uppercase;
    }
    .desc {
      font-size: 16px;
      font-weight: $fw-l;
      margin-bottom: 10px;
      a {
        margin-left: 10px;
        width: 50px;
        display: inline-block;
        transition: all ease 0.5s;

        &:hover {
          transform: translateX(10px);
        }
      }
    }
  }

  .about-profile {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    border-left: 1px solid #bbb;
    transition: all ease 0.4s;
    .image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: all ease 0.4s;
      overflow: hidden;
      width: 100%;
      img {
        height: 100%;
        width: auto;
      }
    }
    &:hover {
      width: 35%;
      span {
        transform: translateX(-60px) rotate(180deg);
      }
      .image {
        opacity: 1;
      }
    }
    span {
      writing-mode: vertical-rl;
      display: block;
      height: 100%;
      text-align: center;
      transform: rotate(180deg);
      margin-left: 20px;
      font-size: 20px;
      text-transform: uppercase;
      transition: all ease 0.4s;
    }
  }
}

.project {
  position: relative;
  height: 100vh;
  .heading-block {
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 2;
    .view-more-btn {
      margin-top: 10px;
    }
  }
  .project-wrapper {
    @include flex(unset, center, unset);
    height: inherit;
    width: 100%;
  }
  .project-item {
    position: relative;
    width: 25%;
    min-width: 15%;
    max-width: 55%;
    height: 100%;
    transition: all $cubic 0.75s;
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.7) 0%,
          rgba(0, 0, 0, 0) 70%
        );
        z-index: 1;
      }
    }
    .image {
      height: 100%;
      width: 100%;
      overflow: hidden;
      img {
        height: 100%;
        width: auto;
        object-fit: cover;
        object-position: center;
        transition: all ease 1s;
      }
    }

    .title {
      font-size: 30px;
      font-weight: $fw-r;
      color: $white;
      position: absolute;
      left: -40px;
      bottom: 100px;
      transform: rotate(-90deg);
      transition: all $cubic 0.75s;
      z-index: 2;
    }

    &:hover {
      width: 100%;

      .title {
        transform: rotate(0);
        left: 40px;
        bottom: 40px;
      }
      .image {
        img {
          transform: scale(1.15);
        }
      }
    }
  }
}

.blog {
  height: 100vh;
  padding-top: 120px;
  background: linear-gradient(
      90deg,
      rgba(232, 242, 255, 0.6) 80%,
      rgba(232, 242, 255, 0.6) 80%
    ),
    url(../images/blog-bg.png) no-repeat center;
  background-size: cover;
  .heading-block {
    @include flex(space-between, end, unset);
    color: #1c417e;
    margin-bottom: 50px;
    width: 100%;
  }
  .view-more-btn {
    color: #1c417e;
    font-size: 16px;
    font-weight: $fw-b;
  }
  .blog-item {
    width: 100%;
    height: 500px;
    position: relative;
    a {
      width: 100%;
      height: inherit;
      display: block;
    }
    .image {
      overflow: hidden;
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        transition: all ease 1s;
      }
    }
    .content {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      padding: 25px 15px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      .date {
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
        font-weight: $fw-l;
      }
      .title {
        font-size: 18px;
        font-weight: $fw-sb;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        line-height: 1.5;
        overflow: hidden;
        height: 54px;
      }
    }

    &:hover {
      .content {
        .title {
          text-decoration: underline;
        }
      }
      .image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.advantage {
  padding-top: 120px;
  background: linear-gradient(
      90deg,
      rgba(232, 242, 255, 0.6) 80%,
      rgba(232, 242, 255, 0.6) 80%
    ),
    url(../images/blog-bg.png) no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  .heading-block {
    @include flex(space-between, center, unset);
    width: 100%;
    .title {
      color: #1c417e;
    }
  }
  .advantage-slider {
    width: 100%;
    margin: 0 auto;
  }
  .swiper {
    overflow: visible;
  }

  .advantage-item {
    position: relative;
    height: 65vh;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        z-index: 0;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .content-wrapper {
      @include flex(space-evenly, center, unset);
      height: 100%;
      position: relative;
      z-index: 2;

      .num {
        font-size: 400px;
        color: $white;
      }
      .content {
        width: 40%;
        .title {
          margin-bottom: 20px;
          font-size: 25px;
          text-transform: uppercase;
          font-weight: $fw-sb;
          padding-left: 20px;
          border-left: 3px solid #fff;
        }
        .desc {
          line-height: 1.5;
          font-size: 16px;
          font-weight: $fw-l;
          width: 80%;
        }
      }
    }
  }
}

.archive {
  position: relative;
  height: 100vh;
  padding-top: 120px;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 80%
      );
    }
  }
  .archive-wrapper {
    margin-left: auto;
    position: relative;
    margin-top: 120px;
    z-index: 2;
    width: 40%;
    .icon {
      width: 40px;
      margin-bottom: 20px;
      margin-left: auto;
      img {
        width: 100%;
      }
    }
    .slogan {
      color: $black;
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      strong {
        color: $blue;
      }
    }
  }
  .archive-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    .archive-item {
      @include flex(center, center, unset);
      flex-direction: column;
      .num {
        font-weight: $fw-eb;
        color: $blue;
        font-size: 50px;
      }
      .text {
        color: $black;
        text-transform: uppercase;
        font-size: 16px;
      }
    }
  }
}

// RESPONSIVE

@include landscape-phone {
  .fp-overflow {
    max-height: unset;
  }
  .fp-scrollable .fp-section:not(.fp-auto-height):not([data-percentage]),
  .fp-scrollable .fp-slide:not(.fp-auto-height):not([data-percentage]),
  .fp-scrollable.fp-responsive
    .fp-is-overflow.fp-section:not(.fp-auto-height):not([data-percentage]) {
    min-height: unset;
  }

  #home-banner {
    height: auto;
    .swiper-wrapper {
      height: unset;
    }
    .banner-wrapper {
      padding: 80px 20px;
      position: initial;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background: url(../images/banner-wrapper.jpg) no-repeat center;
      background-size: cover;

      a {
        max-width: unset;
      }
    }
  }

  .about {
    height: auto;
    padding: 80px 0;
    .about-content {
      max-width: 100%;
    }
    .about-profile {
      position: relative;
      z-index: 2;
      border: none;
      margin-top: 40px;
      display: block;
      padding: 10px 20px;
      background-color: #fff;
      width: fit-content;

      span {
        writing-mode: unset;
        height: unset;
        transform: unset;
        margin: 0;
        text-align: left;
        color: $blue;
      }
      .image {
        display: none;
      }
      &:hover {
        width: fit-content;
        background-color: $blue;
        span {
          transform: unset;
          color: $white;
        }
      }
    }
  }

  .archive {
    height: auto;
    padding: 80px 0;
    .archive-wrapper {
      margin-top: 0;
    }
    .background-image {
      &::before {
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.75) 0%,
          rgba(255, 255, 255, 0.75) 100%
        );
      }
    }
    .archive-wrapper {
      width: 100%;
    }
  }

  .advantage {
    height: auto;
    padding: 80px 0;
    .advantage-item {
      height: 400px;
      .content-wrapper {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 30px;
        gap: 20px;
        .num {
          font-size: 60px;
        }
        .content {
          width: 100%;
        }
      }
    }
  }

  .project {
    height: auto;
    padding: 80px 0;
    .heading-block {
      position: initial;
      margin: 0 auto;
      margin-bottom: 40px;
      * {
        color: $blue;
      }
      .view-more-btn {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
      }
    }
    .project-wrapper {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
    }
    .project-item {
      width: 100%;
      max-width: unset;
      margin-bottom: 20px;
      a {
        height: unset;
      }
      .image {
        img {
          width: 100%;
          height: auto;
        }
      }
      .title {
        transform: unset;
        left: 40px;
        bottom: 40px;
      }
    }
  }
}

@include extra-mobile {
  .advantage {
    padding-bottom: 120px;
    .heading-block {
      justify-content: center;
      .slider-control {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        gap: 10px;
      }
    }
  }

  .project {
    .project-item {
      .title {
        font-size: 20px;
      }
    }
  }
}
