* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  // font-family: $font-montserrat;
  font-size: 14px;
  color: $white;
  line-height: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img,
video {
  width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}

.btn {
  padding: 10px 20px;
  color: $white;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
}

.close-btn {
  padding: 0;
  display: block;
  width: 25px;
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 2;
  img {
    width: 100%;
  }
}

.view-more-btn {
  display: block;
  width: fit-content;
  color: $white;
  font-size: 14px;
  font-weight: $fw-l;
  text-transform: uppercase;
  @include flex(unset, center, 10px);

  .icon {
    font-size: 18px;
    font-weight: $fw-el;
  }
}

.slider-control {
  @include flex(unset, center, 5px);
  .slider-button {
    width: 40px;
    aspect-ratio: 1;
    background-color: $blue;
    color: $white;
    outline: none;
    border: none;
    transition: all ease 0.3s;
    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}

.heading-block {
  margin-bottom: 30px;

  width: fit-content;
  .title {
    font-size: 35px;
    font-weight: $fw-b;
    text-transform: uppercase;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 10;

  .header-wrapper {
    @include flex(space-between, center, unset);
    height: 70px;
  }

  .header-right {
    @include flex(unset, center, 25px);
  }

  .languages-wrapper {
    @include flex(unset, center, 10px);
    .language {
      font-weight: $fw-l;
    }
  }

  .logo {
    display: block;
    width: 100px;
  }

  .menu-btn {
    font-weight: $fw-l;
    padding: 0;
  }

  .nav-wrapper {
    background-color: rgba($color: $black, $alpha: 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    padding-left: 50px;
    transform: translateX(100%);
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    &.active {
      transform: translateX(0);
    }
  }

  .nav-list {
    margin-top: 150px;
    list-style: disc;
    .nav-item {
      margin-bottom: 40px;
      transition: all ease 0.2s;
      &:hover {
        transform: translateX(10px);
      }
      a {
        font-size: 20px;
        font-weight: $fw-el;
        display: block;
      }
    }
  }
}

#footer {
  position: relative;
  height: 100vh;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      object-fit: cover;
      height: 100%;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      background: linear-gradient(
        -90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.95) 50%
      );
    }
  }
  .footer-wrapper {
    position: relative;
    z-index: 2;
    margin-right: auto;
    width: 40%;
  }
  .heading-block {
    .title {
      color: $blue;
    }
  }
  .info {
    margin-bottom: 25px;
    .title {
      @include flex(unset, center, 10px);
      font-size: 16px;
      font-weight: $fw-b;
      text-transform: uppercase;
      color: $blue;
      margin-bottom: 10px;
      .icon {
        width: 20px;
      }
    }
    .text {
      font-size: 14px;
      color: $black;
      font-weight: $fw-l;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $blue;
        strong {
          font-weight: $fw-sb;
        }
      }
    }
  }

  .social-list {
    @include flex(unset, center, 20px);
    margin-top: 40px;
    .social-item {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 2px solid $blue;
      @include flex(center, center, unset);
      transition: all ease 0.3s;
      .icon {
        width: 20px;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .copyrights {
    margin-top: 50px;
    color: $blue;
    width: fit-content;
  }
}

// RESPONSIVE
@include landscape-phone {
  .heading-block {
    .title {
      font-size: 20px;
    }
  }
  #footer {
    padding: 80px 0 20px;
    .footer-wrapper {
      width: 100%;
    }
    .background-image {
      &::before {
        width: 100%;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.75) 0%,
          rgba(255, 255, 255, 0.75) 100%
        );
      }
    }
  }
}

@include extra-mobile {
  #header {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    .logo {
      width: 80px;
    }
    .nav-wrapper {
      width: 250px;
    }
  }
}
